# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
certs/

# Environment variables / secrets
.env

# Certificates & private keys
*.key
*.pem
*.crt

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
